<nav>
    <div class="nav-wrapper blue-grey lighten-4">
        {{!-- <a href="#" class="brand-logo">Logo</a> --}}
        {{!--
        <div class="container">
            <div class="row">
                <div class="input-field col s6 black--text">
                    <input id="last_name" type="text" class="validate">
                    <label for="last_name">YouTube URL</label>
                </div>
            </div>

        </div> --}}

        {{!-- <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="sass.html">Sass</a></li>
            <li><a href="badges.html">Components</a></li>
            <li><a href="collapsible.html">JavaScript</a></li>
        </ul> --}}
    </div>
</nav>