{{> navbar}}
<div id="app" class="container" style="margin-top: 1em;">
    <div class="row">
        <form id="URLForm">
            <div class="input-field col s8 black--text">
                <input id="youtube_url" name="video" type="text" class="validate">
                <label for="youtube_url">YouTube URL</label>
            </div>
            <button class="waves-effect waves-light btn col">button</button>
        </form>
    </div>
    <div class="row">
        {{#each videos}}
        <div class="col s6">
            <div class="card">
                <div class="card-image">
                    <img src="{{getThumbnail this}}">
                    <!-- <span class="card-title">{{ video.title }}</span> -->
                </div>
                <div class="card-content">
                    <p>{{ this.title }}</p>
                </div>
                <div class="card-action">
                    <a href="/view/{{this.id}}">Watch</a>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>
<script src="/home.js"></script>